name: Preview Release

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  preview-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        uses: ./.github/actions/setup

      - name: Bump Version
        run: pnpm -s changeset version

      - name: Build
        run: pnpm -s prepublishOnly

      - name: Publish Preview Release
        run: pnpx pkg-pr-new publish --compact
