name: Preview Release

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  preview-release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup
        uses: ./.github/actions/setup

      - name: Bump Version
        run: pnpm -s changeset version

      - name: Build
        run: pnpm -s prepublishOnly

      - name: Publish Preview Release
        run: pnpx pkg-pr-new publish --compact
